body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:119px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:119px;
  height:525px;
}
#u2220_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:525px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:525px;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2222 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2222_img.mouseOver {
}
#u2222.mouseOver {
}
#u2222_img.selected {
}
#u2222.selected {
}
#u2222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2223 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2223_img.mouseOver {
}
#u2223.mouseOver {
}
#u2223_img.selected {
}
#u2223.selected {
}
#u2223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2224 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2224_img.mouseOver {
}
#u2224.mouseOver {
}
#u2224_img.selected {
}
#u2224.selected {
}
#u2224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2225 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2225_img.mouseOver {
}
#u2225.mouseOver {
}
#u2225_img.selected {
}
#u2225.selected {
}
#u2225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2226 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2226_img.mouseOver {
}
#u2226.mouseOver {
}
#u2226_img.selected {
}
#u2226.selected {
}
#u2226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2227 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2227_img.mouseOver {
}
#u2227.mouseOver {
}
#u2227_img.selected {
}
#u2227.selected {
}
#u2227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2228 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2228_img.mouseOver {
}
#u2228.mouseOver {
}
#u2228_img.selected {
}
#u2228.selected {
}
#u2228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2229 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2229_img.mouseOver {
}
#u2229.mouseOver {
}
#u2229_img.selected {
}
#u2229.selected {
}
#u2229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2230 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2230_img.mouseOver {
}
#u2230.mouseOver {
}
#u2230_img.selected {
}
#u2230.selected {
}
#u2230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2231 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2231_img.mouseOver {
}
#u2231.mouseOver {
}
#u2231_img.selected {
}
#u2231.selected {
}
#u2231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2232 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2232_img.mouseOver {
}
#u2232.mouseOver {
}
#u2232_img.selected {
}
#u2232.selected {
}
#u2232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:385px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2233 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2233_img.mouseOver {
}
#u2233.mouseOver {
}
#u2233_img.selected {
}
#u2233.selected {
}
#u2233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2234 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2234_img.mouseOver {
}
#u2234.mouseOver {
}
#u2234_img.selected {
}
#u2234.selected {
}
#u2234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:455px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2235 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2235_img.mouseOver {
}
#u2235.mouseOver {
}
#u2235_img.selected {
}
#u2235.selected {
}
#u2235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u2236 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2236_img.mouseOver {
}
#u2236.mouseOver {
}
#u2236_img.selected {
}
#u2236.selected {
}
#u2236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
