body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1488.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3248 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:134px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3249 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:237px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3250 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:353px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3251 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:869px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3252 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:194px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u3252_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u3252_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u3252_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3253 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:297px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3253_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u3253_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u3253_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3254 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:267px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3254_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:107px;
  height:10px;
}
#u3254_seg1 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-5px;
  width:10px;
  height:642px;
}
#u3254_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:627px;
  width:107px;
  height:10px;
}
#u3254_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:622px;
  width:20px;
  height:20px;
}
#u3254_text {
  border-width:0px;
  position:absolute;
  left:52px;
  top:309px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3255 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:353px;
  width:100px;
  height:60px;
  display:flex;
  font-size:10px;
}
#u3255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3256 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:383px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3256_seg0 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-5px;
  width:65px;
  height:10px;
}
#u3256_seg1 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3256_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3257 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:753px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3258 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:813px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3258_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:91px;
}
#u3258_seg1 {
  border-width:0px;
  position:absolute;
  left:-175px;
  top:81px;
  width:180px;
  height:10px;
}
#u3258_seg2 {
  border-width:0px;
  position:absolute;
  left:-183px;
  top:76px;
  width:20px;
  height:20px;
}
#u3258_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:79px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3259 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:353px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u3259_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-194px;
  width:10px;
  height:194px;
}
#u3259_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-194px;
  width:115px;
  height:10px;
}
#u3259_seg2 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-199px;
  width:20px;
  height:20px;
}
#u3259_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-158px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3260 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:616px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3261 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:753px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3262 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:676px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3262_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:82px;
}
#u3262_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:65px;
  width:20px;
  height:20px;
}
#u3262_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3263 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:813px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3263_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:61px;
}
#u3263_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u3263_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3264 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:783px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3264_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:130px;
  height:10px;
}
#u3264_seg1 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3264_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3265 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:753px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3265_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-112px;
  width:10px;
  height:112px;
}
#u3265_seg1 {
  border-width:0px;
  position:absolute;
  left:-175px;
  top:-112px;
  width:180px;
  height:10px;
}
#u3265_seg2 {
  border-width:0px;
  position:absolute;
  left:-183px;
  top:-117px;
  width:20px;
  height:20px;
}
#u3265_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-114px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3266 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:483px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3267 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:413px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3267_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:75px;
}
#u3267_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:58px;
  width:20px;
  height:20px;
}
#u3267_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3268 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:543px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3268_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:78px;
}
#u3268_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:61px;
  width:20px;
  height:20px;
}
#u3268_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3269 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:513px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3269_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:37px;
  height:10px;
}
#u3269_seg1 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-5px;
  width:10px;
  height:396px;
}
#u3269_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:381px;
  width:37px;
  height:10px;
}
#u3269_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:376px;
  width:20px;
  height:20px;
}
#u3269_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:186px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3270 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:513px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3270_seg0 {
  border-width:0px;
  position:absolute;
  left:-178px;
  top:-5px;
  width:178px;
  height:10px;
}
#u3270_seg1 {
  border-width:0px;
  position:absolute;
  left:-178px;
  top:-354px;
  width:10px;
  height:359px;
}
#u3270_seg2 {
  border-width:0px;
  position:absolute;
  left:-178px;
  top:-354px;
  width:178px;
  height:10px;
}
#u3270_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-359px;
  width:20px;
  height:20px;
}
#u3270_text {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:-182px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3271 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:646px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3271_seg0 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:-5px;
  width:200px;
  height:10px;
}
#u3271_seg1 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:-487px;
  width:10px;
  height:492px;
}
#u3271_seg2 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:-487px;
  width:200px;
  height:10px;
}
#u3271_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-492px;
  width:20px;
  height:20px;
}
#u3271_text {
  border-width:0px;
  position:absolute;
  left:-245px;
  top:-248px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3272 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:134px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3273 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:134px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3274 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:237px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u3275 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:237px;
  width:100px;
  height:60px;
  display:flex;
  font-size:10px;
}
#u3275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3276 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:353px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3277 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:471px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3278 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:583px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3279 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:583px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3280 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:700px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3281 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:164px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3281_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:70px;
  height:10px;
}
#u3281_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3281_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3282 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:194px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3282_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u3282_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u3282_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3283 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:267px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3283_seg0 {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:-5px;
  width:70px;
  height:10px;
}
#u3283_seg1 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3283_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3284 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:267px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3284_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-5px;
  width:30px;
  height:10px;
}
#u3284_seg1 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-108px;
  width:10px;
  height:113px;
}
#u3284_seg2 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-108px;
  width:30px;
  height:10px;
}
#u3284_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-113px;
  width:20px;
  height:20px;
}
#u3284_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-60px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3285 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:297px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3285_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:91px;
}
#u3285_seg1 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:81px;
  width:120px;
  height:10px;
}
#u3285_seg2 {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:76px;
  width:20px;
  height:20px;
}
#u3285_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:79px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3286 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:413px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3286_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:63px;
}
#u3286_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u3286_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3287 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:643px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3287_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:62px;
}
#u3287_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u3287_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3288 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:501px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3288_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:120px;
  height:10px;
}
#u3288_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-5px;
  width:10px;
  height:87px;
}
#u3288_seg2 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:70px;
  width:20px;
  height:20px;
}
#u3288_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3289 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:164px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3289_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:23px;
  height:10px;
}
#u3289_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-5px;
  width:10px;
  height:576px;
}
#u3289_seg2 {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:561px;
  width:188px;
  height:10px;
}
#u3289_seg3 {
  border-width:0px;
  position:absolute;
  left:-173px;
  top:556px;
  width:20px;
  height:20px;
}
#u3289_text {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:358px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3290 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:383px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3290_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:15px;
  height:10px;
}
#u3290_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:10px;
  height:27px;
}
#u3290_seg2 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:12px;
  width:93px;
  height:10px;
}
#u3290_seg3 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:12px;
  width:10px;
  height:340px;
}
#u3290_seg4 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:342px;
  width:98px;
  height:10px;
}
#u3290_seg5 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:337px;
  width:20px;
  height:20px;
}
#u3290_text {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:166px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3291 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:383px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3291_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:15px;
  height:10px;
}
#u3291_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-24px;
  width:10px;
  height:29px;
}
#u3291_seg2 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:-24px;
  width:96px;
  height:10px;
}
#u3291_seg3 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:-224px;
  width:10px;
  height:210px;
}
#u3291_seg4 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:-224px;
  width:101px;
  height:10px;
}
#u3291_seg5 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-229px;
  width:20px;
  height:20px;
}
#u3291_text {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-116px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3292 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:613px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3292_seg0 {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:-5px;
  width:70px;
  height:10px;
}
#u3292_seg1 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3292_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3293 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:613px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3293_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-5px;
  width:30px;
  height:10px;
}
#u3293_seg1 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-117px;
  width:10px;
  height:122px;
}
#u3293_seg2 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-117px;
  width:30px;
  height:10px;
}
#u3293_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-122px;
  width:20px;
  height:20px;
}
#u3293_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-63px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3294 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:643px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3294_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u3294_seg1 {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:55px;
  width:70px;
  height:10px;
}
#u3294_seg2 {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:55px;
  width:10px;
  height:37px;
}
#u3294_seg3 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:82px;
  width:60px;
  height:10px;
}
#u3294_seg4 {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:77px;
  width:20px;
  height:20px;
}
#u3294_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:53px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
