body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1046px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:393px;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:137px;
  width:809px;
  height:393px;
  display:flex;
}
#u1955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:248px;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:530px;
  width:794px;
  height:248px;
  display:flex;
}
#u1956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:530px;
  width:63px;
  height:248px;
  display:flex;
}
#u1957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:119px;
  height:525px;
}
#u1959_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:525px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:525px;
}
#u1961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1961 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1961_img.mouseOver {
}
#u1961.mouseOver {
}
#u1961_img.selected {
}
#u1961.selected {
}
#u1961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1962 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1962_img.mouseOver {
}
#u1962.mouseOver {
}
#u1962_img.selected {
}
#u1962.selected {
}
#u1962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1963 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1963_img.mouseOver {
}
#u1963.mouseOver {
}
#u1963_img.selected {
}
#u1963.selected {
}
#u1963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1964 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1964_img.mouseOver {
}
#u1964.mouseOver {
}
#u1964_img.selected {
}
#u1964.selected {
}
#u1964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1965 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1965_img.mouseOver {
}
#u1965.mouseOver {
}
#u1965_img.selected {
}
#u1965.selected {
}
#u1965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1966 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1966_img.mouseOver {
}
#u1966.mouseOver {
}
#u1966_img.selected {
}
#u1966.selected {
}
#u1966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1967 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1967_img.mouseOver {
}
#u1967.mouseOver {
}
#u1967_img.selected {
}
#u1967.selected {
}
#u1967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1968 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1968_img.mouseOver {
}
#u1968.mouseOver {
}
#u1968_img.selected {
}
#u1968.selected {
}
#u1968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1969 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1969_img.mouseOver {
}
#u1969.mouseOver {
}
#u1969_img.selected {
}
#u1969.selected {
}
#u1969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1970 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u1970_img.mouseOver {
}
#u1970.mouseOver {
}
#u1970_img.selected {
}
#u1970.selected {
}
#u1970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1971 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1971_img.mouseOver {
}
#u1971.mouseOver {
}
#u1971_img.selected {
}
#u1971.selected {
}
#u1971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:385px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1972 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u1972_img.mouseOver {
}
#u1972.mouseOver {
}
#u1972_img.selected {
}
#u1972.selected {
}
#u1972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1973 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1973_img.mouseOver {
}
#u1973.mouseOver {
}
#u1973_img.selected {
}
#u1973.selected {
}
#u1973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:455px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1974 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u1974_img.mouseOver {
}
#u1974.mouseOver {
}
#u1974_img.selected {
}
#u1974.selected {
}
#u1974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:490px;
  width:119px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1E1E1E;
  text-align:left;
}
#u1975 .text {
  position:absolute;
  align-self:center;
  padding:2px 3px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u1975_img.mouseOver {
}
#u1975.mouseOver {
}
#u1975_img.selected {
}
#u1975.selected {
}
#u1975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:100px;
  width:127px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1978 {
  position:fixed;
  left:0px;
  top:0px;
  width:1033px;
  height:75px;
}
#u1978_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:75px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1978_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:21px;
  width:97px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u1979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1980 {
  position:fixed;
  right:100px;
  top:21px;
}
#u1980_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1980_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:18px;
  height:19px;
  display:flex;
}
#u1982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:8px;
  width:18px;
  height:19px;
  display:flex;
}
#u1983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:0px;
  width:33px;
  height:33px;
  display:flex;
}
#u1984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
