body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1737px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3322 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:134px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3323 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:238px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3324 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:480px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3325 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:359px;
  width:100px;
  height:60px;
  display:flex;
}
#u3325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3326 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:714px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3327 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:359px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3328 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:194px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3328_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:49px;
}
#u3328_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u3328_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3329 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:298px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3329_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:66px;
}
#u3329_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u3329_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3330 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:419px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3330_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:66px;
}
#u3330_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u3330_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3331 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:591px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3332 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:540px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3332_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u3332_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u3332_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3333 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:591px;
  width:100px;
  height:60px;
  display:flex;
}
#u3333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3334 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:389px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3334_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:87px;
  height:10px;
}
#u3334_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3334_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3335 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:621px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3335_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:87px;
  height:10px;
}
#u3335_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3335_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3336 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:651px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3336_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:68px;
}
#u3336_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:20px;
}
#u3336_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3337 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:268px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3337_seg0 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-5px;
  width:88px;
  height:10px;
}
#u3337_seg1 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-5px;
  width:10px;
  height:239px;
}
#u3337_seg2 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:224px;
  width:83px;
  height:10px;
}
#u3337_seg3 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:224px;
  width:10px;
  height:23px;
}
#u3337_seg4 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:237px;
  width:15px;
  height:10px;
}
#u3337_seg5 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:232px;
  width:20px;
  height:20px;
}
#u3337_text {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:114px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3338 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:510px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3338_seg0 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:15px;
  height:10px;
}
#u3338_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-5px;
  width:10px;
  height:21px;
}
#u3338_seg2 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:6px;
  width:85px;
  height:10px;
}
#u3338_seg3 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:6px;
  width:10px;
  height:233px;
}
#u3338_seg4 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:229px;
  width:90px;
  height:10px;
}
#u3338_seg5 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:224px;
  width:20px;
  height:20px;
}
#u3338_text {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:110px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3339 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:134px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3340 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:238px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3341 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:359px;
  width:100px;
  height:60px;
  display:flex;
}
#u3341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3342 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:488px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3343 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:359px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3344 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:194px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3344_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:49px;
}
#u3344_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u3344_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3345 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:298px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3345_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:66px;
}
#u3345_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u3345_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3346 {
  border-width:0px;
  position:absolute;
  left:1555px;
  top:389px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3346_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:87px;
  height:10px;
}
#u3346_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3346_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3347 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:268px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3347_seg0 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-5px;
  width:88px;
  height:10px;
}
#u3347_seg1 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-5px;
  width:10px;
  height:260px;
}
#u3347_seg2 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:245px;
  width:88px;
  height:10px;
}
#u3347_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:240px;
  width:20px;
  height:20px;
}
#u3347_text {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:118px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3348 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:419px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u3348_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:74px;
}
#u3348_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:20px;
}
#u3348_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
